.react-select-tags {
  .optionsWrapper {
    position: absolute;
    background: $background;
    border: 1px solid $rs3BorderColor;
    border-radius: $rs3TagBorderRadius;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 300px;
    will-change: transform;
    top: calc(100% + 2px);
    left: 0;
    z-index: 9999;

    .filter {
      margin: 16px 24px 8px 24px;

      input {
        border: none;
        border-bottom: 1px solid $rs3BorderColor;
        width: 100%;

        font-size: $rs3TagFontSize;
        line-height: 1;

        outline: 0;
        box-shadow: none;
        -webkit-appearance: none;
      }
    }

    .message {
      display: flex;
      align-items: center;
      margin: 8px 24px 8px 24px;
      color: lighten($rs3InputsTextColor, 40%);
      user-select: none;
      cursor: default;
    }

    .options {
      overflow: auto;
      user-select: none;
      cursor: default;
    }
  }
}