$background: white;
$rs3Height: 38px;
$rs3Invalid: #dc3545;

$rs3TagColor: white;
$rs3BorderColor: #ced4da;
$rs3TagBgColor: #0d6efd;
$rs3TagRemoveBgColor: white;
$rs3TagRemoveWidth: 26px;
$rs3InputsTextColor: #212529;
$rs3TagFontSize: 16px;
$rs3TagBorderRadius: 4px;