$background: white;
$rstHeight: 38px;
$rstInvalid: #dc3545;
$rstBorderColor: #ced4da;

$rstGroupColor: #212529;

$rstTagColor: white;
$rstTagBgColor: #0d6efd;
$rstTagRemoveBgColor: white;
$rstTagRemoveWidth: 26px;
$rstInputsTextColor: #212529;
$rstTagFontSize: 16px;
$rstTagBorderRadius: 4px;